.Main__Body {
    background-color:#3498db;
}
.Main__title {
    color: #ecf0f1;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 30px;
    font-weight: 600;
}

.Main__discrpition{
    color: #ecf0f1;
    font-weight: 600;
}

.Main__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main__Enter{
    border: 2px solid #ecf0f1;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 30px;
    font-weight: 600;
    color: #ecf0f1;
}